<nb-actions>
  <nb-action icon="home-outline" link="/"></nb-action>
  <nb-action icon="people-outline" link="/league"></nb-action>
  <nb-action icon="file-text-outline" link="/draft"></nb-action>
</nb-actions>
