.queen-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.875em;

  nb-card {
    nb-card-body {
      display: grid;
      grid-template-columns: 125px 1fr;
      gap: 1em;
      h2, h3 {
        margin-top: 0;
      }
    }

    margin-bottom: 0;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}


.home-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.875em;
}
