<div class="home-container">

  <div class="item">

    <h1>Meet the Queens 👑</h1>
    <div class="queen-container">
      <nb-card routerLink="/queen/{{q.id}}" *ngFor="let q of queenSrv.queens$ | async" accent="{{ !!q?.eliminatedOn ? 'danger': ''}}">
        <nb-card-body>
          <div class="left">
            <img class="responsive" [src]="q.img" [alt]="q.id">
          </div>
          <div class="right">
            <h2 class="zero-mt">{{ q.id | splitJoinPipe }}</h2>
            <h3>{{ q.points }} pts</h3>
            <p>{{ q.name }}</p>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  <div class="item">
    <h1>Rules of the Game</h1>
    <nb-card *ngFor="let r of ruleSrv.rules$ | async" status="{{ r.points > 0 ? 'success' : 'danger' }}">
      <nb-card-header>
        <h2>{{ r.name }}: <em>{{ r.points }}</em></h2>
      </nb-card-header>
    </nb-card>
  </div>
</div>
