:host {
  display: grid;
  place-content: center;
  width: 100vw;
  .footer-container {
    padding: 1em 20em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1em;
    justify-items: center;
  }
}
