<div class="footer-container">
<a href="https://calebukle.com">Built by Caleb Ukle</a>
<a href="https://gitlab.com/doubleuideas/drag-draft">Gitlab</a>
<a href="https://firebasee.google.com">Built with Firebase</a>
<a href="https://netlify.com">Hosted by Netlify</a>
</div>
