<ng-container *ngIf="queen$ | async as queen">
  <h1 style="margin-top: 0;">{{ queen.id | splitJoinPipe }}</h1>
  <p>{{queen.name}}</p>
  <div class="queen-container">
    <div class="left">
      <a [href]="queen.bio" nbButton appearance="hero" status="primary" hero fullWidth target="_blank"
         rel="nofollow noopener noreferrer">Go to Bio</a>
      <img class="responsive" [src]="queen.img" [alt]="queen.id">
    </div>
    <div class="right">
      <nb-card status="info">
        <nb-card-header>
          <h2 style="margin-top: 0;">{{ queen.points }} Points Total</h2>
        </nb-card-header>
      </nb-card>
      <ng-container *ngIf="events$ | async as events">
        <nb-card *ngFor="let e of events" status="{{ e.points > 0 ? 'success' : 'danger'}}">
          <nb-card-header>
            <h2>
              {{ e.rule }}: <em>{{e.points}}</em>
            </h2>
          </nb-card-header>
        </nb-card>
      </ng-container>
    </div>
  </div>
</ng-container>
