.queen-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 1.875em;
  place-content: center;
  .left {
    a {
      margin-bottom: 1.875em;
    }
  }
}
